@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700& display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}

body{
    height: 100vh;
    background: url("file:///C:/Users/ASUS/Downloads/E%20WALLET/E%20WALLET/img/10.jpg");
    background-position: center;
    background-size: cover;
}

.hero-section{
    height: 100vh;
    display: flex;
    align-items: center;
    padding: 0px 20px;
}

.hero-section .content{
    color: #fff;
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

.hero-section .content h1{
    font-size: 3rem;
    max-width: 600px;
}

.hero-section .content p{
    font-weight: 300;
    margin-top: 15px;
    max-width: 600px;
}

.hero-section .content button{
    background: #fff;
    outline: none;
    border: none;
    font-size: 1rem;
    font-weight: 500;
    margin-top: 38px;
    padding: 12px 30px;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.2s ease;
}

.hero-section .content button:hover{
    color: #fff;
    background-color: #e7a310;
}

@media screen and (max-width:850px) {
    
    
}